@import '~office-ui-fabric-react/dist/sass/References.scss';
.container {
    background-color: #223458;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 22px;
    padding: 20px 0px;
    min-width: 1298px;
    margin-left: -11px;
    margin-bottom: -50px;
}